.section {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 6px !important;
  font-size: 18px !important;
}

.field {
  height: 30px;
  background-color: #f2f4f6;
  border: solid 0.5px #a2a3a3;
  border-radius: 6px;
}

.fieldBoolean {
  display: none;
}

.fieldMultichoce {
  height: 30px;
  width: 50%;
  background-color: #f2f4f6;
  border: solid 0.5px #a2a3a3;
  border-radius: 6px;
}

.errorMessage {
  margin-top: 4px;
  color: red;
}

.btnContainer {
  display: flex;
  width: 100%;
}

.boolBtn {
  width: 50%;
}
